<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--此配置会自动扫描com.springdemo下的所有包中的含有注解的类（如@Controller, @Service等）；-->
    <!--<mvc:annotation-driven />会注册两个映射类，负责将请求映射到类和方法中；因为配置的spring是拦截所有请求，-->
    <!--所以需要配置<mvc:default-servlet-handler />， 来让静态资源通过（如js, css文件等）；-->
    <!--视图解析器是将Controller类返回的视图名加上配置的前后缀进行展示。-->
    <!-- 配置扫描的包 -->
    <context:component-scan base-package="com.springdemo.*" />

    <!-- 注册HandlerMapper、HandlerAdapter两个映射类 -->
    <mvc:annotation-driven />

    <!-- 访问静态资源 -->
    <!--<mvc:default-servlet-handler />-->

    <!-- 视图解析器 -->
    <!--prefix和suffix：查找视图页面的前缀和后缀（前缀[逻辑视图名]后缀），-->
   <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>